{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %} 
{% block authPages %}

<div class="flex">
  <div class="w-full md:w-1/2 bg-[#ffffff]">
    <div class="flex justify-center flex-col items-center">
      <div
        class="flex justify-center w-[70%] items-center flex-col text-center lg:mt-[100px] md:mt-[50px] mt-[40px]"
      >
        <img src="{% static 'img/logo.svg' %}" alt="Logo" />
        <h2 class="text-[#32324D] font-[700] text-[32px]">Welcome back!</h2>
        <p class="text-[#666687] font-[400] text-[24px]">
          Please input your information in the fields below to enter your
          Journey platform.
        </p>
        {% if error_message %}
        <p class="text-sm font-light text-red-500">{{ error_message }}</p>
        {% endif %}
      </div>
      <form class="w-[70%] lg:mt-[110px] md:mt-[90px] mt-[60px]" method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full h-[48px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            name="email"
            type="email"
            placeholder="abc@example.com"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full h-[48px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            name="password"
            type="password"
            placeholder="••••••••"
          />
        </div>
        <div class="flex items-center mb-6 justify-between">
          <label class="block text-gray-500 font-bold">
            <input class="leading-tight" type="checkbox" />
            <span class="text-sm"> Remember me </span>
          </label>
          <a
            class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
            href="#"
          >
            Forgot Password?
          </a>
        </div>
        <button
          class="bg-[#4945FF] w-full hover:bg-[#27329f] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Log In
        </button>
      </form>
    </div>
  </div>
  <div class="w-full md:w-1/2 md:block hidden bg-[#6172F3]">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="w-full h-[100vh] flex flex-col items-center justify-center"
          >
            <img src="{% static 'img/connectwithanydevice.png'%}" alt="connectwithanydevice" class="w-[65%]" />
            <div class="text-center pt-10 text-white">
              <p class="text-[22px] font-[700]">Connect with any device.</p>
              <p class="text-[16px] font-[500]">
                Everything you need is an internet connection.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="w-full h-[100vh] flex flex-col items-center justify-center"
          >
            <img src="{% static 'img/joinus.png'%}" alt="joinus" class="w-[65%]" />
            <div class="text-center pt-10 text-white">
              <p class="text-[22px] font-[700]">Join us!</p>
              <p class="text-[16px] font-[500]">
                Just go through the boring process of creating an account.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="w-full h-[100vh] flex flex-col items-center justify-center"
          >
            <img src="{% static 'img/otp.png'%}" alt="otp" class="w-[65%]" />
            <div class="text-center pt-10 text-white">
              <p class="text-[22px] font-[700]">2 Factor Security</p>
              <p class="text-[16px] font-[500]">
                OTP is received during login to ensure exclusive access to the
                user's account.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

{% endblock %}
